body{
    margin: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    justify-content:center;
    font-family: Cursive;
    background-color: slateblue;
}

h2{
    color:white;
    text-transform: uppercase;
    letter-spacing: 4px;   
}

.year{
     font-weight:bold;
     font-size: 5em;
     color: white;
}

.countdown{
     margin:30px;
     background-color: rgba(0,0,0,0.1);
     display: flex;
     width: 100%;
     height: 120px;
     color:white;
     justify-content:center;
     align-items:center;
}

.countdown div{
     margin:0 15px;
     font-size:2.5em;
     font-weight:500;
     margin-top:-25px;
     text-align: center;
     width: 100px;
     position: relative;
}

.countdown div::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 0.35em;
    line-height: 35px;
    font-weight:500;
    width:100%;
    height: 35px;
    letter-spacing: 1px;
    
}

.countdown #day::before{
    content: "Days";
}
.countdown #hours::before{
    content: "Hours";
}
.countdown #minutes::before{
    content: "Minutes";
}
.countdown #seconds::before{
    content: "Seconds";
}